.footer {
    /* background-color: #333; */
    background-image: url(../customerDashboard/assets/scroll1.gif);
    background-size:  contain;
    background-position: auto;
    color: #f4f4f4;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 20px;
  }
  
  .flex-container {
    display: flex;
    justify-content: space-between;
  }
  
  .column {
    flex: 1;
    padding: 10px;
  }
  
  .column h1 {
    font-size: 24px;
    cursor: pointer;
  }
  
  .column h3 {
    font-size: 18px;
  }
  
  .column ul {
    list-style-type: none;
    padding: 0;
  }
  
  .column ul li {
    margin-bottom: 5px;
    cursor: pointer;
  }
  
  .contact {
    font-size: 16px;
    margin-top: 10px;
    cursor: pointer;
  }